html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #606060;
  /* min-width: 992px; */
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.main-title {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #323232;
}

/* Header styles start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 42px;
  z-index: 999;
}

.header_active {
  background: rgba(56, 51, 22, 0.8);
  padding-bottom: 10px;
  transition: all 0.3s;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__burger {
  display: none;
}

.line-top {
  position: absolute;
  width: 100%;
  height: 4px;
  top: 0;
  left: 0;
  background-color: white;
  transition: all 0.3s linear;
}

.line-top_active {
  transform: translateY(8px) rotate(45deg);
}

.line-middle {
  display: block;
  margin: auto 0;
  width: 100%;
  height: 4px;
  background-color: white;
  transition: all 0.3s linear;
}

.line-middle_active {
  width: 0;
}

.line-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
  transition: all 0.3s linear;
} 

.line-bottom_active {
  transform: translateY(-8px) rotate(-45deg);
} 

/* .header__burger-pic {
  width: 24px;
  height: 24px;
} */

.header__menu-items {
  display: flex;
  flex-wrap: wrap;
}

.header__menu-item {
  margin-right: 45px;
}

.header__menu-item:last-child {
  margin-right: 0;
}

.header__logo-pic {
  transition: 0.5s;
}

.header__menu-link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  transition: color 0.5s;
}

.header__logo-link:hover .header__logo-pic,
.header__logo-link:active .header__logo-pic,
.header__logo-link:focus .header__logo-pic {
  transform: scale(1.1);
  transition: 0.5s;
}

.header__menu-link:hover,
.header__menu-link:active,
.header__menu-link:focus {
  color: #FFC839;
  transition: 0.5s;
}

/* Header styles end */


/* Intro styles start */
.intro {
  width: 100%;
  min-height: 100vh;
  /* height: 865px; */
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  margin-bottom: 74px;
  padding: 10px 0;
}

.intro::after {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%);
}

.intro__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 239px;
  /* z-index: 2; */
}

.intro__title {
  max-width: 821px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 82px;
  color: #FFFFFF;
  margin-bottom: 21px;
  z-index: 1;
}

.intro__subtitle {
  max-width: 789px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 40px;
  color: #FFFFFF;
  margin-bottom: 80px;
  z-index: 1;
}

.intro__search {
  width: 100%;
  padding: 20px 91px;
  background: #FFFFFF;
  box-shadow: 6px 9px 59px 3px rgba(0, 0, 0, 0.01);
  z-index: 1;
}

.intro__form {
  display: grid;
  /* grid-template-columns: auto 179px 179px 179px 247px; */
  grid-template-columns: auto 16.92% 16.92% 16.92% 23.35%;
  grid-template-rows: 61px 61px;
  gap: 11px;
  width: 100%;
  margin: 0 auto;
}

.intro__form-item-1 {
  grid-column: 1/2;
  margin-right: 16px;
}

.intro__form-item-2 {
  grid-column: 2/6;
}

.intro__form-item-3 {
  margin-right: 16px;
}

.intro__form input {
  width: 100%;
  height: 100%;
  background: #FFF0CB;
  border: none;
  padding: 10px;
}

.intro__form-item-7 input {
  width: 100%;
  height: 100%;
  background: #FFC839;
  border: none;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #000000;
}

.intro__form-item-7 {
  transition: box-shadow 0.3s;
}

.intro__form-item-7:hover,
.intro__form-item-7:focus {
  box-shadow: 0px 0px 4px 2px;
  transition: 0.3s;
}

.intro__form-item-7:active {
  box-shadow: inset 0px 0px 4px 2px;
  transition: 0.3s;
}


/* Intro styles end */


/* Company sntyles start */
.company {
  width: 100%;
  margin-bottom: 122px;
}

.company__wrapper {
  display: flex;
  flex-flow: column wrap;
}

.company__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 22px;
  margin-bottom: 100px;
}

.company__card {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.company__card-img {
  width: 100%;
  height: 100%;
}

.company__card-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.company__card-descr {
  display: flex;
  min-height: 112px;
  padding-left: 55px;
  background: white url(../img/company-arrow-white.png) no-repeat 5% 55%;
  box-shadow: 0px 4px 59px -14px rgba(171, 124, 0, 0.29);
}

.company__card-text {
  margin: auto;
  padding: 0 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.company__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.company__card:hover .company__card-descr,
.company__card:active .company__card-descr,
.company__card:focus .company__card-descr {
  background: #FFC839 url(../img/company-arrow-yellow.png) no-repeat 5% 55%;
  box-shadow: 0px 4px 35px rgba(196, 143, 7, 0.49);
}

.company__advantages {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  margin-bottom: 98px;
}

.company__advantages-descr {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.company__advantages-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto 0;
}

.company__advantages-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 50px;
}

/* .company__advantages-thmb {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.company__advantages-pic {
  min-width: 92px;;
}

.company__advantages-item:last-child {
  margin-bottom: 0;
}

.company__advantages-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 27px;
}

.company__advantages-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 40px;
  color: #4A4A4A;
  transition: color 0.5s;
}

.company__advantages-link:hover,
.company__advantages-link:active,
.company__advantages-link:focus {
  color: #FFC839;
  transition: 0.5s;
}

.company__advantages-defin {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  color: #4A4A4A;
}

.company__advantages-bckgr {
  width: 74px;
  margin: 62px 0;
  background-color: #FFC839;
}

.company__advanages-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.company__callme {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 127px 164px;
  background: #FFF5DA;
}

.company__callme-title {
  width: 100%;
  margin-bottom: 20px;
}

.company__callme-subtitle {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 40px;
  color: #646464;
  margin-bottom: 20px;
}

.company__callme-form {
  /* width: 100%; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  max-width: 703px;
  padding: 9px 12px 9px 22px;
  border: 1px solid #000000;
  background: #FFFFFF;
}

.company__callme-flags {
  /* flex-basis: 6%; */
  min-width: 39px;
  display: flex;
  flex-flow: row nowrap;
  padding: 12px 0;
  margin-right: 12px;
}

.company__calmme-flag {
  flex-basis: 33.333%;
}

.red {
  background: #F23A3A;
}

.white {
  background:  white;
}

.blue {
  background: #1613D5;
}

.company__callme-pref {
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 58px;
  color: #000000;
  padding-right: 10px;
}

.company__callme-phonenumber {
  display: block;
  flex-grow: 1;
  min-width: 60px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 58px;
  color: #000000;
}

.company__callme-button {
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 40px;
  color: #000000;
  padding: 10px 44px;
  background: #FFC839;
  border: none;
  transition: box-shadow 0.3s;
}

.company__callme-button:hover, 
.company__callme-button:focus {
  box-shadow: 0px 0px 4px 2px;
  transition: 0.3s;
}

.company__callme-button:active {
  box-shadow: inset 0px 0px 4px 2px;
  transition: 0.3s;
}


/* Company styles end */


/* Ideas styles start */

.ideas {
  width: 100%;
  margin-bottom: 112px;
}

.ideas__wrapper {
  display: flex;
  flex-direction: column;
}

.ideas__title-fst {
  margin-bottom: 45px;
}

.ideas__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-bottom: 110px;
}

.ideas__card {
  grid-column: span 1;
}

.ideas__card-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ideas__card:hover,
.ideas__card:active, 
.ideas__card:focus {
  box-shadow: 0 0 7px 3px;
}

.ideas__title-scnd {
  margin-bottom: 21px;
}

.ideas__inspiration {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 59px;
  border-bottom: 1px solid #D7D6D6;
  margin-bottom: 49px;
}

.ideas__inspiration-descr {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 54%;
  padding-right: 54px;
}

.ideas__inspiration-info {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #606060;
  margin: auto 0;
}

.ideas__inspiration-button {
  max-width: 289px;
  padding: 10px 37px;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 40px;
  color: #000000;
  background: #FFC839;
  border: none;
  filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.16));
  transition: box-shadow 0.3s;
}

.ideas__inspiration-button:hover,
.ideas__inspiration-button:focus {
  box-shadow: 0px 0px 4px 2px;
  transition: 0.3s;
}

.ideas__inspiration-button:active {
  box-shadow: inset 0px 0px 4px 2px;
  transition: 0.3s;
}


.ideas__inspiration-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 13px;
  flex-basis: 46%;
}

.ideas__inspiration-item {
  grid-column: span 1;
}

.ideas__inspiration-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ideas__inspiration-item:hover,
.ideas__inspiration-item:active, 
.ideas__inspiration-item:focus {
  box-shadow: 0 0 7px 3px;
}

.ideas__interior {
  display: flex;
  flex-wrap: wrap;
}

.ideas__interior-choose {
  flex-basis: 54%;
  padding-top: 131px;
  padding-right: 43px
}

.ideas__interior-inems {
  display: flex;
  flex-wrap: wrap;
}

.ideas__interior-item {
  border-right: solid 3px black;
}

.ideas__interior-item:last-child {
  border-right: none;
}

.ideas__interior-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  padding: 2px 5px;
  transition: color 0.5s;
}

.ideas__interior-link:hover,
.ideas__interior-link:active,
.ideas__interior-link:focus {
  color: #FFC839;
  transition: 0.5s;
}

.ideas__interior-descr {
  flex-basis: 46%;
  display: flex;
  flex-direction: column;
}

.ideas__interior-title {
  margin-bottom: 29px;
}

.ideas__interior-subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #606060;
}

.ideas__interior-subtitle .ideas__ikea {
  font-style: normal;
  font-weight: 600;
  font-size: 24px; 
  line-height: 33px;
  color: #4A4949;
}

/* Ideas styles end */


/* Footer styles start */
.footer {
  width: 100%;
  background: #093A7A;
}

.footer-links {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #CACACA;
  transition: color 0.5s;
}

.footer-links:hover,
.footer-links:active,
.footer-links:focus {
  color: #FFC839;
  transition: 0.5s;
}

.footer__wrapper {
  display: flex;
  flex-flow: column wrap;
  padding: 45px 0px;
  max-width: 1240px;
  margin: 0 auto;
}

.footer__main {
  margin-bottom: 31px;
}

.footer__main-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer__countries {
  display: flex;
  flex-flow: column wrap;
  padding: 30px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.16);
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  margin-bottom: 36px;
}

.footer__countries-title {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
  margin-bottom: 23px;
}

.footer__countries-country {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 20px;
}

.footer__countries-country:last-child {
  margin-bottom: 0;
}

.footer__countries-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #E6E5E5;
  margin-bottom: 10px;
}

.footer__countries-cities {
  display: flex;
  flex-flow: row wrap;
}

.footer__countries-city {
  margin-right: 34px;
}

.footer__last {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__last-items {
  display: flex;
  flex-flow: row wrap;
}

.footer__last-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #CACACA;
  margin-right: 45px;
}

.footer__last-item:last-child {
  margin-right: 0;
}

.footer__last-apps {
  display: flex;
  flex-flow: row wrap;
}

.footer__last-app:first-child {
  margin-right: 52px;
}

/* Footer styles end */

/* JS classes start */

.up-button {
  display: none;
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
  z-index: 999;
}

.up-button_shown {
  display: block;
}

/* JS classes end */



/* Media start */
@media screen and (max-width: 1280px) {
  .container {
    width: 95%;
  }
  .footer__wrapper {
    width: 95%;
  }
}

@media screen and (max-width: 1200px) {
  .company {
    margin-bottom: 74px;
  }
  .company__advantages-title {
    margin-bottom: 10px;
  }
  .intro__search {
    padding: 20px;
  }
  .company__callme {
    padding: 80px 100px;
  }
  .ideas {
    margin-bottom: 74px;
  }
  .footer__countries-city {
    margin-right: 14px;
  }
  .footer__last-item {
    margin-right: 15px;
  }
  .footer__last-app:first-child {
    margin-right: 15px;
  }
}

@media screen and (max-width: 992px) {
  .intro {
    margin-bottom: 54px;
  }
  .intro__search {
    padding: 10px;
  }
  .intro__form-item-1,
  .intro__form-item-3  {
    margin-right: 6px;
  }
  .company {
    margin-bottom: 54px;  
  }
  .company__cards {
    column-gap: 15px;
    margin-bottom: 50px;
  }
  .company__advantages {
    margin-bottom: 50px;
  }
  .company__advantages-info {
    padding-left: 8px;
  }
  .company__advantages-bckgr {
    width: 54px;
  }
  .company__callme {
    padding: 40px;
  }
  .ideas {
    margin-bottom: 54px;
  }
  .ideas__title-fst {
    margin-bottom: 25px;
  }
  .ideas__cards {
    gap: 12px;
    margin-bottom: 50px;
  }
  .ideas__inspiration-descr {
    flex-basis: 100%;
    padding: 0;
  }
  .ideas__inspiration-info {
    margin-bottom: 10px;
  }
  .ideas__inspiration-items {
    flex-basis: 100%;
  }
  .ideas__inspiration-button {
    margin-bottom: 10px;
  }
  .ideas__inspiration-item {
    height: 441px;
  }
  .ideas__interior-choose {
    flex-basis: 35%;
    padding-right: 23px;
  }
  .ideas__interior-descr {
    flex-basis: 65%;
  }
  .footer__main-items {
    justify-content: center;
  }
  .footer__main-item {
    margin: 0 20px;
  }
  .footer__last {
    justify-content: space-around;
  }
  .footer__last-logo,
  .footer__last-items {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .header__menu-item {
    margin-right: 15px;
  }
  .intro {
    margin-bottom: 24px;
  }
  .intro__search {
    padding: 5px;
  }
  .intro__form {
    gap: 5px;
  }
  .company {
    margin-bottom: 24px;
  }
  .company__card {
    grid-column: span 3;
    margin-bottom: 15px;
  }
  .company__card-descr {
    min-height: 60px;
  }
  .company__advantages {
    flex-wrap: wrap;
  }
  .company__advantages-descr {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .company__advantages-title {
    margin-bottom: 20px;
  }
  .company__advantages-item {
    margin-bottom: 15px;
  }
  .company__callme {
    padding: 10px;
  }    
  .company__callme-form {
    padding: 12px;
    width: 100%;
  }
  .ideas {
    margin-bottom: 24px;
  }
  .ideas__card {
    grid-column: span 2;
  }
  .ideas__inspiration {
    padding-bottom: 29px;
    margin-bottom: 29px;
  }
  /* .ideas__interior-choose {
    flex-basis: 25%;
  }
  .ideas__interior-descr {
    flex-basis: 75%;
  } */
  .ideas__interior {
    flex-direction: column;
  }
  .ideas__interior-choose {
    padding: 0;
    margin-bottom: 15px;
  }
  .ideas__interior-title {
    margin-bottom: 21px;
  }
  .footer__wrapper {
    padding: 15px 0;
  }
  .footer__main {
    margin-bottom: 15px;
  }
  .footer__countries {
    padding: 15px 0;
    margin-bottom: 15px;
  }
  .footer__countries-title {
    margin-bottom: 15px;
  }
  .footer__countries-country {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding-top: 10px;
  }
  .header__wrapper {
    justify-content: flex-start;
  }
  .header__burger {
    display: flex;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
  }
  .header__menu {
    display: none;
  }
  .header__menu_active {
    display: block;
    flex-basis: 100%;
  }
  .header__menu-items_active {
    display: flex;
    flex-direction: column;
  }
  .intro__form {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .intro__form-item-2 {
    order: -1;
    grid-column: span 2;
  }
  .intro__form-item-1,
  .intro__form-item-3 {
    grid-column: span 1;
    margin-right: 0;
  }
  .intro__form-item-4,
  .intro__form-item-5,
  .intro__form-item-6,
  .intro__form-item-7 {
    grid-column: span 1;
  }
  .company__advantages-bckgr {
    display: none;
  }
  /* .company__callme-phonenumber {
    flex-basis: auto;
  } */
}

@media screen and (max-width: 500px) {
  .company__callme-form {
    flex-wrap: wrap;
  }
  .company__callme-phonenumber {
    max-width: 160px;
  }
  .company__callme-button {
    margin: 0 auto;
  }
}







/* Media end */